/* =======desktop view========  */
@media (min-width: 2561px) {
}

/* =======desktop view======== */
@media (min-width: 1441px) {
}

/* =======desktop and laptop view======== */
@media (min-width: 1024px) {
}

/* =======Mobile phones view======== */
@media (min-width: 769px) {
}

/* ============= Small Screen Mobile view=========== */
@media (min-width: 426px) {
  .banner-text h1 {
    font-size: 10px;
    font-weight: 350;
  }
}
/* ============= Small Screen Mobile view=========== */
@media (min-width: 376px) {
  .banner-text h1 {
    font-size: 10px;
    font-weight: 350;
  }
}
@media (min-width: 320px) {
  .banner-text h1 {
    font-size: 10px;
    font-weight: 350;
  }
}
