/* =======desktop view========  */
@media (min-width: 2561px) {
}

/* =======desktop view======== */
@media (min-width: 1441px) {
}

/* =======desktop and laptop view======== */
@media (max-width: 1025px) {
}

/* =======Mobile phones view======== */
@media (max-width: 769px) {
}

/* ============= Small Screen Mobile view=========== */
@media (max-width: 426px) {
  .top-banner-text h3 {
    font-size: 15px;
  }
  .top-banner-text p {
    font-size: 5px;
  }
  .banner {
    padding: 10px 15px !important;
  }
  .banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .banner-text h1 {
    font-size: 20px;
    font-weight: 350;
  }
  .banner-text {
    padding: 20px 0px !important;
  }
  .bold-text {
    font-size: 10px;
    padding: 0px !important;
  }
  .about-section {
    padding: 0px 0px 30px 0px !important;
  }
  .about-section img {
    filter: blur(3px);
    position: absolute;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px !important;
  }
  .about-section h1 {
    border-radius: 40px;
    padding: 10px 25px;
    background-color: #fff;
    top: 50px;
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: 15px;
  }
  .about-section-main p {
    font-size: 12px;
    padding: 0px 15px;
  }
  .footer h3 {
    font-size: 18px;
    font-weight: 200;
  }
  .footer b {
    font-size: 13px;
  }
  .footer p {
    font-size: 13px;
  }
}
@media (max-width: 325px) {
  p {
    font-size: 12px;
  }
  h5 {
    font-size: 15px;
  }
  .top-banner-text h3 {
    font-size: 15px;
  }
  /* .top-banner-text p {
    font-size: 5px;
  } */
  .banner {
    padding: 0px 10px !important;
  }
  .banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .banner-text h1 {
    font-size: 20px;
    font-weight: 350;
  }
  .banner-text {
    padding: 20px 0px !important;
  }
  .bold-text {
    font-size: 10px;
    padding: 0px !important;
  }
  .about-section {
    padding: 0px 0px 30px 0px !important;
  }
  .about-section img {
    filter: blur(3px);
    position: absolute;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px !important;
  }
  .about-section h1 {
    border-radius: 40px;
    padding: 10px 25px;
    background-color: #fff;
    top: 50px;
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: 15px;
  }
  .about-section-main p {
    padding: 0px 15px;
  }
  .footer h3 {
    font-size: 18px;
    font-weight: 200;
  }
  .footer b {
    font-size: 13px;
  }

  .get-involved-section {
    padding: 10px 10px !important;
  }
  .get-involved-title h1 {
    font-size: 25px;
  }
  .get-involved-title h6 {
    font-size: 15px;
  }
  .get-involved-card h1 {
    font-size: 25px;
  }
  .get-involved-card h6 {
    font-size: 17px;
  }
  .get-involved-card p {
    font-size: 14px;
    line-height: 20px;
  }
  .get-involved-card img {
    padding-top: 10px;
    height: 180px;
  }
  .carousel-item img {
    width: 250px;
    height: 250px;
  }

  .gallery-img-1 {
    padding: 0px !important;
    margin: 0px !important;
  }
  .gallery-img-2,
  .gallery-img-3,
  .gallery-img-4,
  .gallery-img-5 {
    display: none;
  }
  .contarct-messege {
    margin-top: 30px !important;
    padding: 5px !important;
  }
  .mapouter {
    width: 100px;
    height: 100px;
    padding: 10px !important;
  }
}
