:root {
  --theme-color: green;

  --font-family: "Roboto", sans-serif;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(132, 240, 127, 0.637);
  color: black;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.theme-color {
  color: var(--theme-color);
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.ecrso-img img {
  height: 60px;
  width: 60px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  color: white;
  background-color: rgb(0, 0, 0);
}
.icon-footer {
  color: var(--theme-color);
  font-size: 25px;
  padding: 5px;
  border-radius: 3px;
}
.icon-footer:hover {
  color: rgb(250, 248, 248);
  background-color: var(--theme-color);
}
.footer-title-border {
  border-bottom: 2px solid rgb(182, 14, 14);
  width: 70px;
}
.icon {
  color: var(--theme-color);
  font-size: x-large;
  padding-right: 5px;
}
.bottom-border {
  line-height: 45px;
  width: 70px;
  border-bottom: 2px solid green;
}
